<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Choice Cuts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fas fa-user"></i> Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/checkout"><i class="fas fa-shopping-cart"></i> Checkout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus"><i class="fas fa-users"></i> About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dashboard"><i class="fas fa-cog"></i> Dashboard</a>
            </li>
        </ul>
    </div>
</nav>