<!DOCTYPE html>
<html lang="en">

<div class="aboutUsBody">
    <main class="AboutUS">
        <h2>Our Mission</h2>
        <p>This is a digital world and it's about time we gave you the same control over the meat you get but digitally!
            Our promise is getting you better and faster cuts than going to your local butchershop! </p>
        <h2>Special Thanks</h2>
        <p>Thank you too all our customers for making our dream a reality we'll continue bringing you the platnium
            standard you all know us for!</p>
    </main>

    <footer></footer>


</div>

</html>