<!DOCTYPE html>
<html lang="en">

<div class="aboutUsBody">

    <div class="aboutUsCard" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/CClogoBlack.png" alt="Logo goes here">
        <div class="card-body">
            <p class="card-text">.
            <h2>Our Mission</h2>
            This is a digital world and it's about time we gave you the same control over the meat you get but
            digitally!
            Our promise is getting you better and faster cuts than going to your local butchershop! </p>
            <h2>Special Thanks</h2>
            <p>Thank you too all our customers for making our dream a reality we'll continue bringing you the platinum
                standard you all know us for!</p>
        </div>
    </div>

</div>