<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-0">
      <div class="hero-image">
        <h1>Welcome to Choice Cuts</h1>
        <p>Prime Cuts, Delivered to Your Doorstep</p>
        <a href="#learn-more" class="btn btn-fancy-white">Learn More</a>
      </div>
    </div>
  </div>
</div>

{{> searchBar}}

<div id="learn-more" class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="" alt="logo here">
    </div>
    <div class="col-md-8">
      <h2 class="text-center">Learn More</h2>
      <p>Welcome to our digital platform! In this ever-evolving digital world, we believe it's high time for you to have complete
      control over the meat you consume. We are dedicated to providing you with a revolutionary experience, allowing you to
      conveniently access and order premium cuts of meat online. Say goodbye to the traditional butchershop hassle! Our
      commitment lies in delivering superior quality and swift service, ensuring that you receive the finest and freshest cuts
      faster than ever before. Embrace the digital revolution and embark on a journey of exceptional meat satisfaction with
      us!</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
  </div>
</div>

<div id="products" class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Our Products</h2>
    </div>
    <div class="col-12">
      <div class="row">
        {{#each products}}
        <div class="col-{{../productCols}}">
          {{> productCard}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
