<div class="loginBody">

    <div class="loginContainer">
        <div class="row">
            <div class="col-12">
                <form method="POST" action="./">
                    <div class="form-group">
                        <input type="password" class="form-control" id="Password" name="pass" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-rsvp">Login</button>
                </form>
            </div>
        </div>
    </div>

</div>