{{> searchBar}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Search Results</h2>
        </div>
        {{#if products.length}}
        <div class="col-12">
            <div class="row">
                {{#each products}}
                <div class="col-{{../productCols}}">
                    {{> productCard}}
                </div>
                {{/each}}
            </div>
        </div>
        {{else}}
        <div class="col-12 text-center">
            <p class="p-5">No products found</p>
        </div>
        {{/if}}
    </div>
</div>