/* styles.css */
.container {
  margin-top: 50px;
}

h1 {
  text-align: center;
}

.form-inline {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Fancy Button */
.btn-fancy-white,
.btn-fancy-black {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: transparent;
}

.btn-fancy-white {
  color: #fff;
  border: 2px solid #fff;
}

.btn-fancy-white:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.btn-fancy-black {
  color: #000;
  border: 2px solid #000;
}

.btn-fancy-black:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #000;
}

/* Hero image */
.hero-image {
  background-image: url('/assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* Product Page */
.product-image img {
  width: 50%;
}

.coming-soon {
  font-size: 50px;
}

/* Product Card */
.product-card .product-title {
  font-size: 20px;
  text-align: center;
}

.product-card .product-meta {
  display: flex;
  justify-content: space-between;
}

.product-card .product-image-container {
  overflow: hidden;
}

.product-card .product-image-container img {
  width: auto;
  height: 200px;
}

.product-card .product-price {
  font-weight: bold;
}

.product-card .btn {
  width: 100%;
}

/* 404 Page */
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.error-container h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #dc3545;
}

.error-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.error-container a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.error-container a:hover {
  background-color: #c82333;
}

/* ----------------- login form */

.loginBody {
  background: url('/assets/images/cowField2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.loginContainer .btn-primary {
  width: 100%
}

.loginContainer form {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
}

.loginContainer #Email,
.loginContainer #Password {
  border: 1px solid #000 !important;
}

.loginContainer .btn-rsvp {
  font-family: Arial;
  background: none;
  border-radius: 0;
  border: 1px solid #333;
  color: #333;
  text-transform: uppercase;
}

.loginContainer .btn-rsvp:hover {
  background: #333;
  color: #fff;
  border-color: #333;
}

/* ---------- login page end */

/* Meat Picker */

.picker-container {
  text-align: center;
}

.meat-picker {
  position: relative;
  display: inline-block;
}

.meat-parts {
  position: absolute;
  top: 0;
}

.meat-parts img {
  position: absolute;
  top: 0;
  left: 0;
}

h2 {
  text-align: center;
}

#shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#shopping-cart i {
  font-size: 200px;
  color: #000;
}

h3,
#cart-items {
  text-align: center;
}

#cart-items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  background: #f5f5f5;
  padding: 4px 8px;
  border-radius: 5px;
}

#cart-items .remove-item {
  cursor: pointer;
  background: none;
  border: none;
}

/* aboutus image and page */
.aboutUsBody {
  background: url('/assets/images/sunsetField.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.aboutUsCard {
  padding: 4% 10%;
}

.about-body {
  background: rgba(255, 255, 255, 0.7);
  padding: 5%;
  margin: 20px;
  border-radius: 20px;
}

.aboutUsBody .about-image-container {
  text-align: center;
}

.aboutUsBody img.about-image {
  width: 250px;
  height: auto;
}

/* checkout page */

.checkoutBody {
  background: url('/assets/images/rusticKitchen.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}